
{% extends 'base.html' %}


{% load search_extras %}
{% load index_extras %}

{% load crispy_forms_tags %}
s
{% block content-header %}

	<div class="content-header">
			<div class="page-header">
				<img class="card-img-new" src="\static\Images\hmshomepage-header-1920_x_432.jpeg" alt="HomePage" ></img>
        <h1 class="card-title-new">Higher Degree by Research Opportunities</h1>
			</div>
      <div id="scroll-anchor" ></div>
	</div>
{% endblock %}


{% block content %}


<body>
    <div class="container">
      <div class="row" id="row">
        <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-12">
        	<form id="search_form" method="GET" action="/search/" onsubmit="return storeKeywords()">
          <div class="input-group" id="adv-search" hidden="true">
            <input type="text" id="input-bar" class="form-control form-control-search" style="border-radius:3px;" value="" placeholder="Search..." name="search_simple">
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <button type="submit" id="simple_btn"  class="btn btn-primary" style="width:40px;height:40px;border-radius:3px;"><span class="fa fa-search" id="search-icon" aria-hidden="true"></span></button>
                <div class="dropdown dropdown-lg" >
                   <script type="text/javascript">$(document).ready(function(){advSearchBtn();});</script> 
                  <button type="button" id="mobile-adv-search-btn" onclick="dropdown()" style="width:36px;height:41px;" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>  
                   <a type="button" id="adv-search-link" onclick="dropdown()" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" style="color:#007BFF" aria-haspopup="true" aria-expanded="false">Advanced Search
                  </a> 
                  <div id="dropdown" class="dropdown-menu dropdown-menu-right" role="menu">
                    
                      <div class="form-group">
                        <label for="school" class="text-dark">School</label>
                        <select class="form-control" name="school" >
                          <option value="" >Select a school</option>
                         {% get_schools as schools %}
                          {% for school in schools %}
                          	<option>{{school.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="faculty" class="text-dark">Faculty</label>
                        <select class="form-control" name="faculty" >
                          <option value="" >Select a faculty</option>
                         {% get_faculties as faculties %}
                          {% for faculty in faculties %}
                          	<option>{{faculty.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="search_title">Title</label>
                        <input type="text" value="" class="form-control" name="search_title" >
                      </div>
                      <div class="form-group">
                        <label for="desc_title">Description</label>
                        <input type="text" class="form-control" name="desc_title" >
                      </div>
                      <hr>
                      <div class="form-group text-center">
                        <button type="submit"  class="btn btn-primary">Search</button>
                      </div>
                                           
                  </div>
                </div>
                
                  </form> 

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
</body>


<!-- Display search results  -->

{% if objects and not objects_index %}
<!-- If got some results -->
<!-- If found an a project that matches   -->
  <div class="objects-container">
    <h2 class="module-title" id="module-title">Search Results </h2>
    <div class="sort-by-container">
      {# Sort by #}
      {% if objects %}
          <!-- Sort by ... -->
           <form method="GET" action="/search/" name="sort_by_results" id="sort_by_form" >
            <div class="form-group">
              <label for="sort_by" class="text-dark">Sort by</label>
                <select class="selectpicker" onchange="sortBy()" name="sort_by" id="sort_by_select">
                  <option value="default">Most Recent</option>
                  <option value="title_AtoZ">Title (A-Z)</option>
                  <option value="title_ZtoA">Title (Z-A)</option>
                  <option value="start_date_newest">Start Date (Newest)</option>
                  <option value="start_date_oldest">Start Date (Oldest)</option>
                  <option value="end_date_newest">End Date (Newest)</option>
                  <option value="end_date_oldest">End Date (Oldest)</option>
                </select>
            </div>
          </form>

          <!-- Retrive sort-by method and update the selector above -->
        {% if current_order %}
          <script type="text/javascript">
            $(document).ready(function(){
                updateSelector("{{current_order}}");
            });
          </script>
        {% endif %}
      {% endif %}
      {## End Sort by ##}
    </div>
    
    <div class="object-container-filter">
      <div class="project-card-filters">
        <div class="filters_text" id="filters_text" >
          <!--Display current filters-->
        </div>
        <script type="text/javascript"> 
            $(document).ready(function(){
                getCurrentFilters();
            });</script>
      </div>
      </div>
    </div>
    {% for object in objects %}  
      <div class="object-container">
        <div class="project-card">
          {% if object.image %}
            <a href="/project/{{ object.id }}">
              <img src="{{object.image.url}}" class="card-img-top" alt="..." >
            </a>
          {% elif object.image_stock %} <!--add in stock image elif-->
            <a href="/project/{{ object.id }}">
              <img src="{{object.image_stock.image_thumbnail.url}}" class="card-img-top" alt="...">
            </a>
          {% else %}
            <a href="/project/{{ object.id }}">
              <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="card-img-top" alt="...">
            </a>
          {% endif %}
          <div class="card-body">
            <span class="project-subtitle-carousel">PROJECT</span>
            <h5 class="carousel-card-title"> {{ object.title }}</h5>
            <p class="more_info">{{object.school}}</p> 
            <p class="carousel-card-text"> {{object.short_desc}} </p>
            <a href= "/project/{{ object.id }} " class="more_info">Read More </a>
          </div>
        </div> 
      </div>
    {% endfor %}
  </div>


{% elif objects|length <= 0 and not objects_index %} 
<!-- If cant find a project that matches   --> <!-- No search results -->
  <div class="objects-container">
    <h2 class="module-title" id="module-title" >Search Results </h2>
    <div class="object-container-filter">
      <div class="project-card-filters">
        <div class="filters_text" id="filters_text">
          <!--Display current filters-->
        </div>
        <script type="text/javascript"> 
            $(document).ready(function(){
                getCurrentFilters();
            });</script>
      </div>
    </div>
    <div class="object-container">
      <div class="project-card">
        <div class="no-results">
          No project found matching these filters 
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel    -->
  <h2 class="module-title"> Projects you may be interested in </h2>
  
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">

          {% for rand in random_object_1 %}
            <!--  -->
            <div class="carousel-object-container">
              <div class="carousel-project-card">
                {% if rand.image %}
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% elif rand.image_stock %} <!--add in stock image elif-->
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% else %}
                  <a href="/project/{{ rand.id }}">
                    <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                  </a>
                {% endif %}
              </div> 
              <div class="carousel-card-body">
                <span class="project-subtitle-carousel">PROJECT</span>
                <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                <p class="more_info">{{rand.school}}</p>  
                <p class="carousel-card-text"> {{rand.short_desc}} </p>
                <a href= "/project/{{ rand.id }} " class="more_info"> More Info </a>
              </div>
            </div>
            <!--  -->
          {% endfor%}
        </div>

        <div class="carousel-item">
          {% for rand in random_object_2 %}
            <!--  -->
            <div class="carousel-object-container">
              <div class="carousel-project-card">
                {% if rand.image %}
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% elif rand.image_stock %} <!--add in stock image elif-->
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% else %}
                  <a href="/project/{{ rand.id }}">
                    <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                  </a>
                {% endif %}
              </div> 
              <div class="carousel-card-body">
                <span class="project-subtitle-carousel">PROJECT</span>
                <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                <p class="more_info">{{rand.school}}</p> 
                <p class="carousel-card-text"> {{rand.short_desc}} </p>
                <a href= "/project/{{ rand.id }} " class="more_info"> More Info </a>
              </div>
            </div>
            <!--  -->
          {% endfor%}
        </div>

        <div class="carousel-item">
          {% for rand in random_object_3 %}
            <!--  -->
            <div class="carousel-object-container">
              <div class="carousel-project-card">
                {% if rand.image %}
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% elif rand.image_stock %} <!--add in stock image elif-->
                  <a href="/project/{{ rand.id }}">
                    <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                  </a>
                {% else %}
                  <a href="/project/{{ rand.id }}">
                    <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                  </a>
                {% endif %}
              </div> 
              <div class="carousel-card-body">
                <span class="project-subtitle-carousel">PROJECT</span>
                <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                <p class="more_info">{{rand.school}}</p> 
                <p class="carousel-card-text"> {{rand.short_desc}} </p>
                <a href= "/project/{{ rand.id }} " class="more_info">Read More </a>
              </div>
            </div>
            <!--  -->
          {% endfor%}
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

{% endif %}

<!-- Nothing has been searched yet    -->
{% if objects_index and not objects %}
  <!-- Carousel    -->
    <h2 class="module-title"> Projects you may be interested in </h2>
    
    <div class="carousel-container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            {% for rand in random_object_1 %}
              <!--  -->
              <div class="carousel-object-container">
                <div class="carousel-project-card">
                  {% if rand.image %}
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% elif rand.image_stock %} <!--add in stock image elif-->
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% else %}
                    <a href="/project/{{ rand.id }}">
                      <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                    </a>
                  {% endif %}
                </div> 
                <div class="carousel-card-body">
                  <span class="project-subtitle-carousel">PROJECT</span>
                  <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                  <p class="more_info">{{rand.school}}</p>  
                  <p class="carousel-card-text"> {{rand.short_desc}} </p>
                  <a href= "/project/{{ rand.id }} " class="more_info"> More Info </a>
                </div>
              </div>
              <!--  -->
            {% endfor%}
          </div>

          <div class="carousel-item">
            {% for rand in random_object_2 %}
              <!--  -->
              <div class="carousel-object-container">
                <div class="carousel-project-card">
                  {% if rand.image %}
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% elif rand.image_stock %} <!--add in stock image elif-->
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% else %}
                    <a href="/project/{{ rand.id }}">
                      <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                    </a>
                  {% endif %}
                </div> 
                <div class="carousel-card-body">
                  <span class="project-subtitle-carousel">PROJECT</span>
                  <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                  <p class="more_info">{{rand.school}}</p> 
                  <p class="carousel-card-text"> {{rand.short_desc}} </p>
                  <a href= "/project/{{ rand.id }} " class="more_info"> More Info </a>
                </div>
              </div>
              <!--  -->
            {% endfor%}
          </div>

          <div class="carousel-item">
            {% for rand in random_object_3 %}
              <!--  -->
              <div class="carousel-object-container">
                <div class="carousel-project-card">
                  {% if rand.image %}
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% elif rand.image_stock %} <!--add in stock image elif-->
                    <a href="/project/{{ rand.id }}">
                      <img src="{{rand.image_stock.image_thumbnail.url}}" class="carousel-card-img-top" alt="...">
                    </a>
                  {% else %}
                    <a href="/project/{{ rand.id }}">
                      <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="carousel-card-img-top" alt="...">
                    </a>
                  {% endif %}
                </div> 
                <div class="carousel-card-body">
                  <span class="project-subtitle-carousel">PROJECT</span>
                  <h5 class="carousel-card-title"> {{ rand.title }}</h5>
                  <p class="more_info">{{rand.school}}</p> 
                  <p class="carousel-card-text"> {{rand.short_desc}} </p>
                  <a href= "/project/{{ rand.id }} " class="more_info">Read More </a>
                </div>
              </div>
              <!--  -->
            {% endfor%}
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- End of carousel    -->

  <!-- Search Results -->
  <div class="objects-container">
    <h2 class="module-title">All Projects </h2>
    <div class="sort-by-container">
      {# Sort by #}
      {% if objects_index %}
          <!-- Sort by ... -->
           <form method="GET" action="/search/" name="sort_by_results" id="sort_by_form" >
            <div class="form-group">
              <label for="sort_by" class="text-dark">Sort by</label>
                <select class="selectpicker" onchange="sortBy()" name="sort_by" id="sort_by_select">
                  <option value="default">Most Recent</option>
                  <option value="title_AtoZ">Title (A-Z)</option>
                  <option value="title_ZtoA">Title (Z-A)</option>
                  <option value="start_date_newest">Start Date (Newest)</option>
                  <option value="start_date_oldest">Start Date (Oldest)</option>
                  <option value="end_date_newest">End Date (Newest)</option>
                  <option value="end_date_oldest">End Date (Oldest)</option>
                </select>
            </div>
          </form>

          <!-- Retrive sort-by method and update the selector above -->
        {% if current_order %}
          <script type="text/javascript">
            $(document).ready(function(){
                updateSelector("{{current_order}}");
            });
          </script>
        {% endif %}
      {% endif %}
      {## End Sort by ##}
    </div>
    <div class="object-container-filter">
      <div class="project-card-filters">
        <div class="filters_text">
          Current Filters > None
        </div>
      </div>
    </div>

    {% for object in objects_index %}  
      <div class="object-container">
        <div class="project-card">
          {% if object.image %}
            <a href="/project/{{ object.id }}">
              <img src="{{object.image.url}}" class="card-img-top" alt="...">
            </a>
          {% elif object.image_stock %} <!--add in stock image elif-->
            <a href="/project/{{ object.id }}">
              <img src="{{object.image_stock.image_thumbnail.url}}" class="card-img-top" alt="...">
            </a>
          {% else %} 
            <a href="/project/{{ object.id }}">
              <img src="\uploads\thumbnails\images\med-placeholder2_thumbnail.jpg" class="card-img-top" alt="...">
            </a>
          {% endif %}
          <div class="card-body">
            <span class="project-subtitle-carousel">PROJECT</span>
            <h5 class="carousel-card-title"> {{ object.title }}</h5>
            <p class="more_info">{{object.school}}</p> 
            <p class="carousel-card-text"> {{object.short_desc}} </p>
            <a href= "/project/{{ object.id }} " class="more_info">Read More </a>
          </div>
        </div> 
      </div>
    {% endfor %}
  </div> 
  <!-- End of search results -->

{% endif %}


{##########################}

{# Pagination #}
<!-- paginator for search results -->
{% if objects and not objects_index %}
<div id="pages" class="text-center" >
        <nav>
            <ul class="pagination justify-content-center">      
                  <li class="page-item" id="prev">
                {% if objects.has_previous %}
                    <a class='page-link' id="prevLink" href="?page={{ objects.previous_page_number }}&sort_by={{ current_order }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                    {% else %}
                    <a class='page-link' id="prevLink" href="?page=1&sort_by={{ current_order }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                {% endif %}
              </li>
                  {% for page in objects.paginator.page_range %}
                  <li class="page-item" id="page{{page}}"><a class="page-link"  href="?page={{ page }}&sort_by={{ current_order }}">{{page}}</a></li>
                  {% endfor %}
                <li class="page-item" id="next">
                   {% if objects.has_next %}
                    <a class='page-link' id="nextLink" href="?page={{ objects.next_page_number }}&sort_by={{ current_order }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span></a>
                      {% else %}
                      <a class='page-link' id="nextLink" href="?page={{ objects.paginator.num_pages }}&sort_by={{ current_order }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span></a>
                {% endif %}
                </li>
              </ul>
            </nav>
          </div>
  <script type="text/javascript">
    $(document).ready(function(){
        paginator("{{objects.number}}","{{objects.paginator.num_pages}}");
            });
  </script>
{% endif %}
<!-- paginator for index view-->
{% if objects_index and not objects %}

<div id="pages" class="text-center" >
        <nav>
            <ul class="pagination justify-content-center">      
                  <li class="page-item" id="prev">
                {% if objects_index.has_previous %}
                    <a class='page-link' id="prevLink" href="?page={{ objects_index.previous_page_number }}&sort_by={{ current_order }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                    {% else %}
                    <a class='page-link' id="prevLink" href="?page=1&sort_by={{ current_order }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                {% endif %}
              </li>
                  {% for page in objects_index.paginator.page_range %}
                  <li class="page-item" id="page{{page}}"><a class="page-link"  href="?page={{ page }}&sort_by={{ current_order }}">{{page}}</a></li>
                  {% endfor %}
                <li class="page-item" id="next">
                   {% if objects_index.has_next %}
                    <a class='page-link' id="nextLink" href="?page={{ objects_index.next_page_number }}&sort_by={{ current_order }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span></a>
                      {% else %}
                      <a class='page-link' id="nextLink" href="?page={{ objects_index.paginator.num_pages }}&sort_by={{ current_order }}" aria-label="Next"><span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span></a>
                {% endif %}
                </li>
              </ul>
            </nav>
          </div>
  <script type="text/javascript">
    $(document).ready(function(){
        paginator("{{objects_index.number}}","{{objects_index.paginator.num_pages}}");
            });
  </script>
{% endif %}
{##############}




<footer class="footer">
		<div class="grid">
			<div class="item-a">
				<img src="\static\Images\group_of_8 _blanl.png" class="img-fluid" alt="Group of 8 Member" style="width:60%">
			</div>
			<div class="item-c">
				<img src="\static\Images\UWA_Formal_Landscape_white.png" alt="UWA image" style="width:80%">
			</div>
		</div>
	</footer>

{% endblock content %}
